h1 {
    color: black;
    text-align: center;
    width: 500%;
}

nav {
    text-align: center;
    word-spacing: 10px;
    padding: 10px;


}

nav a {
    color: #030303;
    text-decoration: none;
    font-size: larger;
}

.mission p {
    margin: 0;
}

p {
    padding: 1%;
    text-align: center;
    border:2px solid black;
    border-color: #0b0b0b;
    background-color: #d2e9f5fb;
    border-radius: 5%;
    /*overflow: auto;*/
}

div {
    display: flex;
    justify-self: unset;
    width: 40%
}

p {
    font-size: 10px;
}

 {
    font-size: 20px;
    justify-content: center;
   
}

u {
    font-size: 20px;
    justify-content: center;
    gap: 20px;
}

i {
    font-size: 13px;
}

I 
{
    font-size: 25px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission{
gap: 30px;
width: 100%;
padding : 0%;
flex:1;
}


.mission p {
    width : 100%
}

.pok {
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 3px solid rgb(12, 12, 12);
    border-radius: 5%;
    background-color: rgb(199, 245, 235);
    width: 30%;

}

.pok h4 {
    text-align: center;
    font-size: 200%;
    border-radius: 10%;
    gap: 0;
    width: 100%;
    padding: 2%;
    margin: 1%;
}

.yu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
}
.yu p{
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
}

li {
    margin: 5px 5px 15px;
  }
  li:hover {
    cursor: grab;
  }
